.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 10px;
}
.page img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}
.page img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 20px;
  background: var(--primary);
  height: 10px;
  width: 10px;
}
.button {
  width: 260px;
  height: 50px;
  padding: 0 30px;
  border: none;
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  color: var(--white);
  border-radius: 5px;
  margin-top: 15px;
}
.input {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 28px;
  color: var(--forground);
  border: 2px var(--border) solid;
  border-radius: 9px;
  padding: 0 30px;
  background-color: var(--light);
  margin: 10px 0;
}
.input:focus {
  outline: none;
  border: 3px var(--border) solid;
}
@media (max-width: 460px) {
  .input,
  .button {
    width: 80svw;
    padding: 3px 15px;
  }
}
