.createPost {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input {
  width: 430px;
  min-height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 20px;
  color: var(--forground);
  border: 2px var(--border) solid;
  border-radius: 9px;
  padding: 0 30px;
  background-color: var(--light);
  margin: 20px 0;
}
.input:focus {
  outline: none;
}

.input[type="submit"] {
  width: 450px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  text-align: center;
  justify-content: center;
  border: none;
  border-radius: 9px;
  padding: 0 30px;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  margin: 20px 0;
}

.form span {
  color: red;
  display: none;
  text-align: start;
  justify-self: unset;
  align-self: unset;
}
.input:invalid[focused="true"] {
  border: 1px solid red;
  animation: linear 1s animation;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
@media (max-width: 860px) {
  .form {
    height: 700px;
    overflow-x: scroll;
  }
}
@keyframes animation {
  0% {
    transform: translateX(-5px);
  }
  12.5% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  37.5% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  62.5% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
.input[name="title"]:invalid[focused="true"] ~ .title_error {
  display: block;
}

.input[name="des"]:invalid[focused="true"] ~ .des_error {
  display: block;
}
.input[name="category"]:invalid[focused="true"] ~ .category_error {
  display: block;
}
.file {
  display: none;
}
.card {
  width: 426px;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font-size: 28px;
  color: var(--forground);
  border: 2px var(--border) solid;
  border-radius: 9px;
  padding: 0 30px;
  background-color: var(--light);
  margin: 20px 0;
  flex-direction: column;
}

.invalid {
  border: 1px solid var(--danger);
  animation: linear 1s animation;
}
.invalid ~ .img_error {
  display: block;
}
.error_message {
  width: 490px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 28px;
  color: var(--danger);
  border: 2px var(--danger) solid;
  border-radius: 9px;
  padding: 0 30px;
  background-color: var(--light);
  margin: 20px 0;
}
.success_message {
  width: 490px;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 28px;
  color: var(--success);
  border: 2px var(--success) solid;
  border-radius: 9px;
  padding: 0 30px;
  background-color: var(--light);
  margin: 20px 0;
}
.card p,
.card svg,
.card svg path {
  color: var(--dark);
  fill: var(--dark);
}

@media (max-width: 860px) {
  .createPost {
    align-items: center;
  }
  .input {
    margin: 10px 0;
    padding: 0 15px;
    width: 380px;
  }
  .input[type="submit"] {
    width: 400px;
  }
  .card {
    padding: 0 15px;
    width: 380px;
  }
}
@media (max-width: 460px) {
  .input,
  .card,
  .input[type="submit"] {
    width: 80svw;
  }
}
