.nav {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
::placeholder {
  color: var(--border);
  opacity: 1; /* Firefox */
  font-size: 20px;
}
.search {
  margin: 20px 0;
  height: max-content;
}
.search input[type="text"] {
  border: none;
  padding: 10px 40px;
  background: var(--light);
  height: 40px;
  width: 280px;
  border-radius: 10px;
  color: var(--forground);
}
.search form {
  display: flex;
  height: 50px;
  align-items: center;
}
.search input[type="submit"] {
  border: none;
  padding: 10px 40px;
  background: var(--light);
  height: 60px;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  color: var(--white);
  font-size: 20px;
  border-radius: 10px;
  margin-left: -76px;
  outline: 5px solid var(--background);
}
.search input {
  outline: none;
}
.user {
  display: flex;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  color: var(--forground);
  gap: 20px;
}
.user_profile {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.recentuser {
  width: 300px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.vibe {
  display: none;
}
@media (max-width: 860px) {
  .recentuser {
    width: 450px;
    margin: 20px auto;
    padding: 0 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .vibe {
    display: block;
  }
}
@media (max-width: 460px) {
  .recentuser {
    width: 90svw;
    padding: 20px;
    margin: 10px 10px;
    padding: 0 10px;
  }
  .username {
    display: none;
  }

  .search input[type="text"] {
    width: 80svw;
    padding: 5px 10px;
  }
  .search input[type="submit"] {
    padding: 5px 10px;
    font-size: 18px;
    height: min-content;
  }
}
