@font-face {
  font-family: kanit-light;
  src: url("/font/Kanit-Light.ttf");
}
@font-face {
  font-family: kanit-regular;
  src: url("/font/Kanit-Regular.ttf");
}
@font-face {
  font-family: kanit-medium;
  src: url("/font/Kanit-Medium.ttf");
}

:root {
  --white: #fff;
  --black: #1d1d1d;
  --text-light: #181818;
  --border: #3a3a3a;
  --light: #212121;
  --dark: #8a8a8a;
  --background: #161616;
  --forground: #f8f8f8;
  --danger: #f94449;
  --success: #4bb543;
  --primary: #338afc;
  --secondary: #338afc;
}
[data-theme="light"] {
  --white: #fff;
  --black: #000;
  --text-light: #a3a3a3;
  --border: #dbdbdb;
  --light: #e3e3e3;
  --dark: #bebebe;
  --background: #f5f5f5;
  --forground: #1a1a1a;
  --danger: #f94449;
  --success: #4bb543;
  --primary: #338afc;
  --secondary: #338afc;
}

* {
  margin: 0;
  padding: 0;
  font-family: kanit-light;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  color: var(--forground);
}
svg,
svg path,
svg rect {
  fill: var(--forground);
}
.flex {
  display: flex;
}
::-webkit-scrollbar {
  display: none;
}

.notification {
  position: absolute;
  bottom: 40px;
  left: 50%;
  translate: -50%;
  background: var(--light);
  padding: 10px 30px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.notification.error {
  border: 2px solid var(--danger);
  color: var(--danger);
}
.container {
  height: 100vh;
  width: 100svw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.loader {
  width: 28px;
  height: 28px;
  border: 5px solid var(--forground);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.container.mini {
  height: 50px;
  width: 50px;
}
section {
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 860px) {
  section {
    flex-direction: column-reverse;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 460px) {
  * {
    box-sizing: border-box;
  }
  p {
    font-size: 0.8em;
    font-family: kanit-light;
  }
  .bold {
    font-family: kanit-light;
  }
}
